@model Model.CarsInfo

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/lib/html5shiv.js"></script>
<script type="text/javascript" src="~/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/lib/layui/css/layui.css"  />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加车辆</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">车辆编号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.Number
		</div>
	</div>
    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">车牌号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.LicencePlate
		</div>
	</div>
    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">座位数：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.Seating
		</div>
	</div>

    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">车辆型号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.CarModel
		</div>
	</div>

    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">车辆品牌：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.CarModel
		</div>
	</div>

    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">车辆颜色：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.CarColor
		</div>
	</div>

    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">车辆油耗：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.OilWear
		</div>
	</div>

    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">当前行驶路程：</label>
		<div class="formControls col-xs-8 col-sm-9">
			@Model.Mileage Km
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">燃油类型：</label>
		<div class="formControls col-xs-8 col-sm-9">

            @switch (Model.OilType)
            {
                case 1:  <span>92号汽油</span>; break;
                case 2:  <span>95号汽油</span>; break;
                case 3:  <span>97号汽油</span>; break;
                case 4:  <span>柴油</span>; break;
                case 5:  <span>新能源-天然气</span>; break;
                case 6:  <span>新能源-纯电动</span>; break;
                case 7:  <span>新能源-混合动力</span>; break;
            }

		</div>
	</div>

	</form>
</article>


</body>
</html>