@model Model.UserInfo

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>个人信息</title>
</head>
<body>


    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 个人信息 <span class="c-gray en">&gt;</span> 信息管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

    <div class="page-container">

        <p class="f-20 text-success">欢迎使用单位派遣公务用车管理系统 <span class="f-14">v1.0</span></p>
	<p>上次登录时间：@Model.LoginDate </p>
	<p>注册时间：@Model.AddDate</p>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">当前登陆信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>职工号</td>
				<td>@Model.Login</td>
			</tr>
            <tr>
				<td>姓名</td>
				<td>@Model.Name</td>
			</tr>

            <tr>
				<td>级别</td>
				<td>
                    @if (Model.Status == 1)
                    {
                        <span>一级主管</span>
                    }
                    else if (Model.Status == 2)
                    {
                        <span>二级主管</span>
                    }
                    else
                    {
                        <span>三级主管</span>
                    }

				</td>
			</tr>
            <tr>
				<td>性别</td>
				<td>
                    @if (Model.Gender == 1)
                    {
                        <span>男</span>
                    }
                    else
                    {
                        <span>女</span>
                    }

				</td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td>@Model.Phone</td>
			</tr>
			
			
            <tr>
				<td>操作</td>
				<td>
                    <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_edit('修改个人信息','/Userinfo/AdminEdit',@Model.ID,400,300)"> 修改个人信息</a>
                    <a class="btn btn-danger radius" href="javascript:;" onclick="change_password('@Model.Login 修改密码','/UserInfo/EditPwd','@Model.ID','600','270')">修改密码</a>
				</td>
			</tr>
			
		</tbody>
	</table>
	
    </div>



    <footer class="footer mt-20">
	    <div class="container">
		    <p><br>
			    Copyright &copy;2015-2019 H-ui.admin v3.1 All Rights Reserved.<br>
			
	    </div>
    </footer>
<script type="text/javascript" src="~/Content/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="~/Content/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="~/Content/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="~/Content/static/h-ui.admin/js/H-ui.admin.js"></script> 
    <script>
        /*管理员-角色-编辑*/
        function admin_role_edit(title, url, id, w, h) {
            layer_show(title, url + "/" + id, w, h);
        }
        /*密码-修改*/
        function change_password(title, url, id, w, h) {
            layer_show(title, url + "/" + id, w, h);
        }



    </script>

        
</body>
</html>